*{box-sizing: border-box;}
body {margin: 0px;}
#Cabeça {color: goldenrod;}
#Estrela {
    width: 400px;
    height: 400px;
    border: lightcoral 5px solid;
    padding: 20px;
    background-image: url("imagens/Foto\ de\ Perfil\ 510\ x\ 510\ Estrela\ do\ mar\ Transparente.png");
    background-position: center center;} 
a[href^="https"]::before {
    content: "🔗 ";
  }
  
  a[href^="mailto"]::before {
    content: "📧 ";
  }
  
  a[href^="tel"]::before {
    content: "📞 ";
  }
  
  li {
    margin-bottom: .5rem;
  }
  
